<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.martinlabs.usecase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".context.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".context.LoginAct"
            android:label="@string/login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".context.ListPrincipalAct"
            android:label="@string/c_principal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".context.PersistPrincipalAct"
            android:label="@string/c_principal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".context.HomeAct"
            android:label="@string/home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>